*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:fantasy Arial, sans-serif;
}
body{
  background-color: black;
}
.acc-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.accordian {
  width: 500px;
}

.item {
  background: #045a57;
  margin-bottom: 10px;
  padding: 14px 20px;
  border-radius: 25px;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.acc-content {
  color: #ffffff;
  height: auto;
  font-size: 14px;
  font-weight: 100;
}

/* button css */
button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

